/* TraderDashboard.css */

/* Container styles */
.trader-dashboard {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.trader-dashboard1 {
	display: flex;
	flex-wrap: wrap;
	max-width: 30%;
	margin: 0 auto;
	padding: 2%;
}

/* Side panel styles */
.side-panel {
	flex: 1;
	padding: 20px;
	background: #f0f0f0;
	transition: width 0.3s ease;
  
}

.profile img {
	width: 10%;
	height: auto;
	border-radius: 50%;
  border: 1px solid black;
	margin: 20px;
}

.section-titles h4 {
	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
	color: white;
  background: red;
}

.section-titles h4:hover {
	color: rgb(47, 20, 220);
	background: white;
}

.left {
	
	border-style: hidden;
	filter: drop-shadow(0 0 0.5rem black);
	margin-left: 1%;
}
/* Main content styles */
.main-content {
	flex: 3;
	padding: 20px;
	background: #fff;
}
.buttwidth {
	display: flex;

}
.butwidth button{
	width: 100%;
	
	
}

.header h1{
	position: fixed;
	text-align: center;
	top: 5%;
	left: 40%;
	width: 20%;
}
.padtop5 h1 {
	top: 10%;
}
.header h2{
	position: fixed;
	text-align: center;
	top: 8%;
	left: 40%;
	width: 20%;
}
.padtop5 h2 {
	top: 15%;
}

.padtop20 {
	position: fixed;
	top: 15%;
	left: 20%;
}
.px120 {
	width: 9%;
	
}

.flex {
	display: flex;
}
.px240 {
	 
	width: 80%;
	 
	margin-bottom:  10px;

	
}
.dashboard-section {
	
	
	width:100%;
	margin-left: 1.5%;
	border-color: #f0f0f0;
	border-style: hidden;
	filter: drop-shadow(0 0 0.5rem black);
	padding: 5%;
	
	color: white;
	font-size: 175%;
	
	background-size:contain;
}
.usermenu {
	text-align: left;
	top: 1%;
	left: 5%;
}

.middle {
	left: -20%;
	top: 20%;
	
}
.ball {
	background-image: url("https://clipart-library.com/new_gallery/386-3860323_3d-soccer-ball-png-ball.png");
}

.marg5 {
	padding-right: 5%;
	width: 90%;
}
td {
	padding-right: 5%;
	width: 2%;
}

.tacenter {
	text-align: center;
	margin: 20%;
}
.bgwhite {
	display: flexbox;
	background: white;
	opacity: 0.7;
	width: 90%;
	filter: drop-shadow(0 0 0.5rem black);

}


.mb2vh {
	height: 10%;
	border-style: solid;
	border-width: 5px;
	padding-left: 5px;
	filter: drop-shadow(0 0 0.5rem black);
	border-color: blue;;

	
	


	
}
/* Responsive styles */
@media only screen and (max-width: 768px) {
	.trader-dashboard {
		flex-direction: row;
	}

	.side-panel,
	.main-content {
		width: 100%;
		padding: 10px;
	}

	.profile img {
		width: 80px;
		height: 80px;
	}

	.section-titles h4 {
		font-size: clamp(1rem, 3vw, 1.5rem);
		padding: 8px;
	}

	span.sidebyside {
		display:block;	}
}
.lefttoright {
	display: flex;

}

.teamsbutton {
	text-align: center;
	font-size: 40%;
	position: relative;
	width: 200%;
	height: auto;
	margin: 2rem;
}

.sidebyside {
	display: flex;
}

