/* leaderboard.css */

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
}

.ph-backspace-light {
  height: 30px;
  width: 30px;
}

.leaderboard {
  font-size: 24px;
  margin: 0;
  margin-left: 10px; /* Adjust the margin as needed */
}

.classification {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.profile {
  margin: 20px 0;
}

.profile-name {
  float: left;
  font-size: 18px;
  font-weight: bold;

  /* only for visualization, comment out when done positioning */
  border: 1px solid black;
}

.icons {
  display: flex;
  justify-content: space-evenly; /* Adjust to space icons evenly */
}

.div {

  /* only for visualization, comment out when done positioning */
 
  
}

.overlap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {


  /* only for visualization, comment out when done positioning */
 border: 1px solid black;
}

.ion-football,
.carbon-user-profile,
.mdi-chart-line,
.mdi-alphabet-b-box,
.vector {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}


/* Add any additional styling as needed */
