/* players.css */

/* Style for the container of each player */
.player-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 250px; /* Fixed width for each player container */
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.player-container:hover {
  box-shadow: 0 0 5px red;
}

/* Style for the player name */
.player-name {
  font-size: 1em;
  color: #333;
  text-decoration: none; /* Removed text underline */
}

/* Style for additional information */
.player-info {
  margin-top: 10px;
  color: #666;
  text-decoration: none; /* Removed text underline */
}

/* Style for the overall container */
.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80vh;
  text-decoration: none; /* Removed text underline */
}

/* Responsive styles */
@media (max-width: 768px) {
  .player-container {
    width: 100%; /* Full width on smaller screens */
    margin: 0 10px; /* Adjusted margin for better spacing */
    margin-bottom: 10px;
    font-size: 0.7em; /* Adjusted font size for better spacing */
  }
  .player-container p {
    font-size: 1.25em; /* Adjusted font size for better spacing */
  }
}
