/* register.css */

/* Apply similar styling to the login page for consistency */
.body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  margin: 0 0 20px;
  text-align: center;
}

form {
  display: flex;
  max-width: 700px;
  padding-top: 10px;
}

label {
  color: #333;
}

input {
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
}


button {
  background: red;
  color: #fff;
  padding: 10px;
  margin-top: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.login-link {
  color: blue;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
  color: red;
}

.click-link {
  padding: 20px;
}

.user-type {
  margin-bottom: 15px;
}

.radio-buttons {
  display: flex;
  flex-direction: row; /* Display radio buttons in a row */
  gap: 10px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
}

.radio-buttons input {
  margin-right: 5px;
}

@media (max-width: 768px) {
  /* .container {
    padding: 20px;
  } */
  form {
    flex-direction: column;
  }
  h2 {
    font-size: 1.5rem;
  }
}